* {
    box-sizing: border-box;
}
  
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 128);
  top: 0;
  bottom: 0;
  left: 150px;
  z-index: -1;
}

/* timeline-box around content */
.timeline-box {
  padding: 10px 50px;
  position: relative;
  left: 122px;
  width: 90%;
  padding-left: 70px;
  padding-right: 45px;
  color: rgb(0, 0, 128);
}

/* The circles on the timeline */
.timeline-box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 18px;
  background-color: #ffffff;
  border: 4px solid rgb(0, 0, 128);
  top: 18px;
  border-radius: 50%;
}

/* Add arrow to the left timeline-box (pointing right) */
.timeline-box::before {
  content: "";
  height: 0;
  position: absolute;
  top: 14px;
  width: 0;
  z-index: 0;
  left: -10px;
  
  border: medium solid rgb(0, 0, 128);
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent rgb(0, 0, 128);
}

/* The actual content */
.content {
  padding: 0;
  border: 4px solid rgb(0, 0, 128);
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
  box-shadow: 1px 20px 20px lightgrey;
}

.work-designation{
  font-size: 20px;
}

.work-data, .edu-data{
  margin-top: -35px;
  padding-left: 2%;
  padding-right: 2%;
}

.logos{
  width: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  /* float: right; */
  margin-top: auto;  
}

.logos:hover {
  transform: scale(1.1);
}

.year{
  font-family: 'Aclonica', sans-serif;
  margin-top: -4px;
  margin-left: -182px;
  text-align: center;
  padding: 1px;
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  border: 4px solid rgb(0, 0, 128);
  border-radius: 10px;
}

.live{
  font-family: 'Courier New', Courier, monospace;
  background-color: red;
  color: whitesmoke;
  border-radius: 4px;
  padding: 2px 6px 1px;
  font-size: 12px;
  letter-spacing: 1px;
  animation:liveblinking 2s infinite;
}

@keyframes liveblinking{
    0%{     background-color: red; }
    50%{    background-color: whitesmoke; }
    100%{   background-color: red; }
}
  
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 30px;
  }
  .timeline-box {
    width: 100%;
    left: 2px;
    padding-right: 15px;
  }
  
  .work-data, .edu-data{
    margin-top: 0px;
  }
  .edu-data{
    padding-top: 15px;
  }
  
  .year{
    margin-left: -3px;
  }
  
  .timeline-box::before {
    left: 50px;
    z-index: 1;
    border: medium solid rgb(0, 0, 128);
    border-width: 16px 20px 16px 0;
    border-color: transparent rgb(0, 0, 128) transparent transparent;
  }

  .logos{
    width: 50px;
    right: 5px;
    top: 5px;
  }
}
