.brdr{
    border: 2px solid red;
}
body{
    padding: 0;
    font-family: 'Merienda One', cursive;
    background-color: #ffffff;
    color:#000000;
    overflow-x: hidden;
    
    /* font-family: 'Oleo Script', cursive; */
    /* font-family: 'Aclonica', sans-serif; */
    /* font-family: 'DM Serif Text', serif; */
    /* font-family: 'Aladin', cursive; */
    /* font-family: 'Pattaya', sans-serif; */
    /* font-family: 'Sansita', sans-serif; */
    /* font-family: 'Vast Shadow', cursive; */
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Red Rose', cursive; */

    /* color: #ffffff; */
    background-image: url('../assets/images/back10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.cursive{
    font-family: 'Courgette', cursive;
    font-size: 1.1em;
}

.absolute-center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navdown{
    padding-top: 5%;
}

.jumbotron {
    background-image: url('../assets/images/frontImage.jpg');
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dnt{
    font-family: 'Red Rose', cursive;
    color: rgb(0, 0, 0);
    font-size: 10px;
    position: relative;
    left: 3%;
    animation:slideDown 3s;
}

@keyframes slideDown{
    0%{ transform:translateY(-100px); }
    100%{ transform:translateY(0px); }
}

.name-plate{
    position: relative;
    top: 40%;
    padding-left: 3%;
    color:#000000;
}

.p-name{
    font-size: 3.8vw;
    font-weight: 700;
    text-shadow: 4px 4px 2px rgb(0, 247, 255);
}
.p-designation{
    text-shadow: 2px 2px 1px rgb(0, 247, 255);
    font-size: 2vw;
    font-weight: 600;
}
.p-location{
    text-shadow: 1px 1px 1px rgb(0, 247, 255);
    font-size: 1vw;
    font-weight: 600;
}

.text-trans:hover{
    color: yellow;
    text-shadow: 4px 4px 2px red;
    transform: scale(1.8);
}

.down-arrow {
    margin-bottom: 0px;
    position: absolute;
    z-index: 1;
    left: 3%;
    bottom: 1%;
    width: 25px;
    height: 40px;
    align-items: center;
    border-radius: 50px;
    text-align: center;
}

.down-arrow a {
    font-size: 1.5em;
    color: rgb(0, 0, 128);
}

.down-arrow a:hover{
    color: whitesmoke;
}

.blink{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;     transform:translateY(0px); }
    33%{    color: green;   }
    50%{    color: #ffffff;  transform:translateY(-20px); }
    66%{    color: blue;    }
    100%{   color: red;     transform:translateY(0px); }
}

.stickybar{
    font-family: 'Sansita', sans-serif;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-box{
    padding: 3%;
    margin: 0;
    height: 300px;
    min-width: 300px;
}
.box-desc{
    font-family: 'Sansita', sans-serif;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    border: 10px solid lightgrey;
    text-align: center;
    font-size: 1.8em;
    color: darkgrey;
    font-weight: 700;
    font-style: italic;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 1px 5px 5px lightgrey;
    -webkit-text-stroke: 1px grey;
}

.box-desc:hover{
    box-shadow: 1px 20px 20px lightgrey;
    color: yellow;
    -webkit-text-stroke: 1px#000000;
    transition: transform 1s;
    transform: scale(1.1);
}

a:hover{
    text-decoration: none;
}

.about{
    background-image: url('../assets/images/about.jpg');
}
.work{
    background-image: url('../assets/images/work.jpg');
}
.education{
    background-image: url('../assets/images/education.jpg');
}
.project{
    background-image: url('../assets/images/project.jpg');
}
.contact{
    background-image: url('../assets/images/contact.jpg');
}

.hrline {
    font-family: 'Vast Shadow', cursive;
    position: sticky;
    top: 56px;
    z-index: 1;
    font-size: 1.5em;
    height: 50px;
    background-color: rgb(0, 0, 128);
    background: -webkit-linear-gradient(left, rgb(0, 0, 128) 30%, transparent 100%);
    /* -webkit-mask-image: linear-gradient(to right,#000000 30%, transparent 100%); */
    color: #ffffff;
    padding-top: 10px;
    padding-left: 5% ;
    margin-top: -40px;
}

.footer{
    height: 150px;
    background-color: rgb(0, 0, 128);
    color: #ffffff;
}

.social-icons{
    color: #ffffff;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.social-icons:hover{
    transform: scale(1.8);
	text-shadow: 2px 2px 10px #ffffff;
	color: greenyellow;
}


.kcp{
    color: #ffffff;
}

.kcp:hover{
    font-size: 1.1em;
    text-shadow: 2px 2px 10px #ffffff;
	color: greenyellow;
}


@media (max-width: 426px) {
    .jumbotron{
        background-image: url('../assets/images/frontImagePro.jpg');
        width: 100%;
    }
    .name-plate{
        top: 50%;
    }
    .p-name{
        font-size: 6.6vw;
        text-shadow: 2px 2px 2px rgb(0, 247, 255);
    }
    .p-designation{
        font-size: 5vw;
    }
    .p-location{
        font-size: 3vw;
    }
    .navdown{
        padding-top: 15%;
    }

    .hrline{
        background: -webkit-linear-gradient(left, rgb(0, 0, 128) 40%, transparent 100%);
        font-size: 6vw;
    }
}
